# .gitignore

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv/
venv/
ENV/

# Build artifacts
*.so
*.o
*.exe
*.dll
*.dylib

# Distutils
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Outputs
.mp4